/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}

.results {
    margin-top: 30px;
    background: #eaeaea;
    padding: 15px;
    border-radius: 5px;
}